NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:11000/auth
NEXT_PUBLIC_GREETER_SERVICE_URL=https://localhost:11000/greet
NEXT_PUBLIC_OTLP_HTTP_ENDPOINT=http://localhost:11000/otlp/v1

# Needed for NODE JS to send metrics to otel collector in development
NODE_TLS_REJECT_UNAUTHORIZED=0
